@tailwind base;
@tailwind components;
@tailwind utilities;


html, body {height: 100%;}

button:focus, input:focus {
  outline: none;
}

.modal-main {
  height: 40rem;
}

textarea {
  resize: none;
}

input[type="search"]::-webkit-search-cancel-button {
  -webkit-appearance: none;
  height: 1.6em;
  width: 1.6em;
  border-radius: 50em;
  background: url(https://pro.fontawesome.com/releases/v5.10.0/svgs/solid/times-circle.svg) no-repeat 50% 50%;
  background-size: contain;
  opacity: 0;
  pointer-events: none;
}

input[type="search"]:focus::-webkit-search-cancel-button {
  opacity: .2;
  pointer-events: all;
}

a:link, a {
  color: #1b95e0;
}

a:hover {
  text-decoration: underline;
}